.helper__btn {
	padding: 1rem;
	color: var(--mainBg);
	background: white;
	border-radius: 100%;
	box-shadow: 0 0 5px white;
	cursor: pointer;
	transition: transform 0.3s;
}

.helper__btn:hover {
	transform: scale(1.08);
}

.helper__btn:disabled {
	background: #747070;
	cursor: default;
}

.helper__btn:hover:disabled {
	transform: scale(1);
}