.status__box {
	display: inline-block;
	margin: 2.5rem auto;
	padding: 1.5rem 3rem;
	background: var(--mainBg);
	border: 2px solid var(--gold);
	border-radius: 5rem;
	box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
	z-index: 5;
}

.show__results__btn,
.back__btn {
	padding: 1.4rem 2rem;
	width: 22rem;
	font-size: 1.8rem;
	border-radius: 6px;
	color: white;
	transition: background-color 0.3s;
}

.show__results__btn {
	/* margin-bottom: 1.5rem; */
	border: 4px solid rgba(76, 70, 102, 0.788);
	background-color: rgba(66, 61, 90, 0.788);
}

.show__results__btn:hover,
.back__btn:hover {
	background-color: transparent;
}

.back__btn {
	/* margin-bottom: 3rem; */
	border: 4px solid rgb(119, 117, 126);
	background-color: rgb(119, 117, 126);
}
